<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OAUTH using Passport, Node, & Express</title>
  <!-- custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <style media="screen">
    * {margin: 0;padding: 0}
    body {font-family: 'Roboto Slab', serif;}
    body nav {background: coral;}
    body nav ul.nav-bar {list-style-type: none;}
    body nav ul.nav-bar li {
      text-transform: uppercase;
      margin-left: 40px;
      padding: 20px;
      display: inline-block;
    }
    body nav ul.nav-bar li a {
      text-decoration: none;
      color: whitesmoke;
    }
    body header {
      background: beige;
      margin: auto;
      padding: 10px;
      color: #999;
    }
    body main {
      margin: 10px;
      padding: 10px;
      background: #f3f3f3;
      color: #666;
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <nav>
    <ul class="nav-bar">
      <li><a href="/">home</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </nav>
  <header>
    <h1>OAuth using Passport.js</h1>
  </header>
  <main>
    <p>The Net Ninja is awesome, courtesy to you <strong>Shaun</strong></p>
  </main>
</body>
</html>
